@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */

@font-face {
  font-family: "Inter";
  src: url("../../static/font/inter/static/Inter-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Whyte";
  src: url("../../static/font/whyte/ABCWhyteInktrap-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* tailwind preflight styles */

*,
::before,
::after {
  border-width: 0;
  border-style: solid;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

/* landing page animation keyframes */

@keyframes dex2 {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes dex3 {
  0% {
    transform: translatey(-10px);
  }

  50% {
    transform: translatey(10px) rotate(-10deg);
  }

  100% {
    transform: translatey(-10px);
  }
}

.dex-3 {
  animation: dex3 20s infinite linear;
}

.dex-2 {
  animation: dex2 200s infinite linear;
}

@keyframes lp2 {
  0% {
    transform: translatey(-10px);
  }

  50% {
    transform: translatey(10px);
  }

  100% {
    transform: translatey(-10px);
  }
}

.lp-2 {
  animation: lp2 14s infinite linear;
}

.lp-3 {
  animation: lp2 6s infinite linear;
}

/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

/* IFM Variables */

:root {
  --ifm-color-primary: #08082f;
  --ifm-color-primary-dark: #07072a;
  --ifm-color-primary-darker: #070728;
  --ifm-color-primary-darkest: #060621;
  --ifm-color-primary-light: #090934;
  --ifm-color-primary-lighter: #090936;
  --ifm-color-primary-lightest: #0a0a3d;
  --ifm-toc-border-color: rgba(255, 255, 255, 0);

  --ifm-code-font-size: 95%;
  --ifm-breadcrumb-separator-filter: invert(100%) sepia(94%) saturate(17%) hue-rotate(223deg) brightness(104%)
    contrast(98%);
  --ifm-menu-link-sublist-icon-filter: invert(100%) sepia(94%) saturate(17%) hue-rotate(223deg) brightness(104%)
    contrast(98%);
  --ifm-navbar-background-color: #08082f;
  --ifm-top-menu-color: rgba(0, 0, 0, 0.3);
  --ifm-toc-link-color: white;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-font-family-base: "Inter";
  --ifm-heading-font-family: "Whyte";

  --ifm-menu-color: rgba(255, 255, 255, 0.6);
  --ifm-menu-color-active: rgba(255, 255, 255, 1);
  --ifm-menu-color-background-active: rgba(0, 0, 0, 0.2);

  --ifm-link-color: rgba(255, 255, 255, 1);
  --ifm-blockquote-color: rgba(255, 255, 255, 0.9);

  --ifm-toc-link-color: white;
  --ifm-link-color: rgb(255, 255, 255);

  --ifm-code-background: rgba(255, 255, 255, 0.1);

  --ifm-table-border-color: rgba(217, 217, 217, 0.2);
  --ifm-table-cell-padding: 1.25rem;

  --ifm-navbar-link-color: rgba(255, 255, 255, 0.6);
  --ifm-navbar-link-hover-color: rgba(255, 255, 255, 1);

  --ifm-color-emphasis-300: rgba(255, 255, 255, 0.3);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: red;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);

  --ifm-list-margin: 0px !important;
}

.DocSearch {
  /* --docsearch-primary-color: rgb(7, 126, 21); */
  /* --docsearch-text-color: var(--ifm-font-color-base); */
  --docsearch-text-color: rgba(255,255,255,0.9);

  --docsearch-primary-color: white;
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  /* --docsearch-muted-color: white; */
  --docsearch-container-background: rgba(94, 100, 112, 0.85);
  /* --docsearch-container-background: rgba(0,0,0,0.3); */
  /* Modal */
  /* --docsearch-modal-background: var(--ifm-color-secondary-lighter); */
  --docsearch-modal-background: rgba(0,0,0,0.5);

  /* Search box */
  /* --docsearch-searchbox-background: var(--ifm-color-secondary); */
  --docsearch-searchbox-background: rgba(0,0,0,0.3);


  /* --docsearch-searchbox-focus-background: var(--ifm-color-white); */
  --docsearch-searchbox-focus-background: rgba(0,0,0,0.6);

  /* Hit */
  --docsearch-hit-color: rgba(255,255,255,0.7);
  --docsearch-hit-active-color: rgba(0,0,0,0.7);;
  /* --docsearch-hit-active-color: black; */

  /* --docsearch-hit-background: var(--ifm-color-white); */
  --docsearch-hit-background: rgba(0,0,0,0.6);
  /* Footer */
  /* --docsearch-footer-background: var(--ifm-color-white); */
  --docsearch-footer-background: rgba(0,0,0,0.3);
  /* color: black; */

  --docsearch-highlight-color: var(--ifm-navbar-link-color);
  --docsearch-highlight-color: rgb(184, 175, 255);;

  --docsearch-searchbox-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.15);

  /* --docsearch-text-color: black; */
}

div.DocSearch-Hit-source {
  background: none;
}

span.DocSearch-Button-Keys {
  display: none;
}

footer.DocSearch-Footer {
  display: none;
}

/* span.DocSearch-Button-Placeholder {
  text-transform: uppercase;
} */

div.DocSearch-Modal {
  box-shadow: none;
}

button.DocSearch.DocSearch-Button {
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.2);
}

button.DocSearch.DocSearch-Button {
  color: rgba(255,255,255,0.9);
}

button.DocSearch.DocSearch-Button:hover span.DocSearch-Button-Placeholder {
  font-weight: bold;
}

button.DocSearch.DocSearch-Button:hover {
  color: white !important;
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.5);
}

button.DocSearch.DocSearch-Button:hover .DocSearch-Search-Icon {
  color: rgba(255, 255, 255, 1);
}

.DocSearch-Hit a {
  box-shadow: none !important;
}

/* CSS Global Variables */

div.col.col--3 {
  padding: 0px !important;
  max-width: 200px !important;
  /* padding-left: 3rem !important; */
}

div.col.col--3 li,
ul {
  margin-right: 0px !important;
  margin-left: 0px !important;
  /* padding-left: 3rem !important; */
}

.col.col--3 li {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.container_src-theme-DocPage-Layout-styles-module {
  width: fit-content;
}

.table-of-contents.table-of-contents__left-border li {
  width: fit-content;
  margin-right: 0px !important;
  padding-right: 0px !important;
}

ul.table-of-contents.table-of-contents__left-border {
  margin-right: 0px !important;
  padding-right: 0px !important;
}

.table-of-contents__link code {
  all: unset;
}

.table-of-contents__link {
  color: rgba(255, 255, 255, 0.6);
}

.table-of-contents__link:hover,
.table-of-contents__link:hover code,
.table-of-contents__link--active,
.table-of-contents__link--active code {
  color: white;
  text-decoration: none;
}

#__docusaurus {
  position: relative;
}

body {
  background-color: #08082f;
  color: #ffffff;
  font-family: "Inter";
}

a code {
  color: #b8afff;
}

a code:hover {
  color: white;
}

/* CSS Target Variables */

.breadcrumbs__item--active .breadcrumbs__link {
  color: rgba(255, 255, 255, 1);
  background: rgba(255, 255, 255, 0.05);
}

.breadcrumbs__link {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs__link:hover {
  color: rgba(255, 255, 255, 1);
}

.card {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}

.card:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.card.padding--lg {
  border: none;
  box-shadow: none;
  border-radius: 16px;
  color: rgba(255, 255, 255, 0.6);
}

.card.padding--lg:hover {
  border: none;
  box-shadow: none;
  border-radius: 16px;
  color: rgba(255, 255, 255, 1);
}

.footer {
  background-color: #08082f;
  border-top: 1px solid #fff;
  z-index: 1;
}

a.footer__link-item {
  color: white;
}

a.footer__link-item:hover {
  color: white;
  border: none;
}

button.button.button--secondary.button--outline {
  border: none !important;
}

.list {
  color: rgba(255, 255, 255, 0.4);
}

.menu {
  align-items: center;
  align-content: center;
  position: center;
}

.navbar--fixed-top {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
}

.navbar-sidebar--show {
  backdrop-filter: none !important;
}

.navbar__link:hover {
  font-weight: var(--ifm-font-weight-bold);
}

.navbar__link:active {
  color: var(--ifm-navbar-link-hover-color);
  text-decoration: none;
}

.navbar__item.navbar__link.navbar__link--active {
  color: rgb(255, 255, 255, 1);
  font-weight: var(--ifm-font-weight-bold);
}

.pagination-nav__label {
  color: rgba(255, 255, 255, 0.6);
}

.pagination-nav__label:hover {
  color: rgba(255, 255, 255, 1);
}

.pagination-nav__link {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: none;
  border-radius: 16px;
}

.pagination-nav__link:hover {
  background-color: rgba(255, 255, 255, 0.15);
  transition: all var(--ifm-transition-fast) ease;
}

.pagination-nav__sublabel {
  color: rgba(255, 255, 255, 1);
  font-size: 10px;
  margin-bottom: 10px;
}

.theme-doc-sidebar-container {
  color: rgb(255, 255, 255);
  border-right: 1px solid var(--ifm-toc-border-color) !important;
}

.theme-doc-sidebar-menu {
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10.5px);
  border-radius: 8px;
}

.theme-edit-this-page:hover {
  color: rgba(255, 255, 255, 1);
  font-weight: bold;
}

/* Code hike styles */

.ch-codeblock .ch-code-button {
  display: none;
}

.ch-codeblock:hover .ch-code-button {
  display: block;
}

.ch-scrollycoding-step-content {
  opacity: 0.4;
}

.ch-scrollycoding-step-content[data-selected] {
  opacity: 1;
  border: none;
}

.ch-section-link,
.ch-section-link * {
  text-decoration-line: none;
  text-decoration-style: none;
}

table {
  width: fit-content;
  max-width: 100%;
  backdrop-filter: blur(30px);
  background-color: rgba(217, 217, 217, 0.05);
  border-radius: 16px;
  border-collapse: collapse;
  border: none;

}

/* table td {
  border: 1px solid rgba(255, 255, 255, 0.15);
} */

table tr:first-child td {
  border-top: none;
}

table tr:last-child td {
  border-bottom: none;
}

table tr td:first-child {
  border-left: none;
}

table tr td:last-child {
  border-right: none;
}

table tr {
  border-top: none;
}

table th {
  border-top: none;
} 

table th:first-child {
  border-left: none;
} 

table th:last-child {
  border-right: none;
} 




div.overview-figs {
  background-color: rgba(8, 8, 47, 0.85);
  width: 221px;
  height: 203px;
  border-radius: 8px;
  margin: 16px;
}

div.overview-figs:hover {
  background-color: rgba(8, 8, 47, 1);
  transition: all var(--ifm-transition-fast) ease;
}

.theme-doc-markdown a {
  text-decoration: underline;
  /* color: rgb(212, 242, 222); */
  color: rgb(184, 175, 255);
}

.theme-doc-markdown a:hover {
  text-decoration: underline;
  color: white;
}

a.links_src-components-Cards-ContentBox-styles-module {
  display: inline-block;
  text-decoration: none;
}

a.links_src-components-Cards-ContentBox-styles-module:hover {
  display: inline-block;
  text-decoration: none;
}

p.hero__subtitle.mb-8 {
  margin-bottom: 0px;
}

div.navbar__items.navbar__items--right {
  margin-right: 1rem;
}

div.navbar__items {
  padding-left: 0px !important;
  margin-left: 0px !important;
}


/* @media (max-width: 1130px) {
  div.col.col--3 {
    display: none;
  }
} */

@media (max-width: 1240px) {
  div.col.col--3 {
    display: none;
  }

  .docMainContainer_src-theme-DocPage-Layout-Main-styles-module {
    display: block;
  }


}

/* extend and collapse code block based on content height  */


section:not(.ch-scrollycoding) .ch-editor-frame {
  height: 100% !important;
  max-height: max-content !important;
}

section:not(.ch-scrollycoding) .ch-editor-frame > :nth-child(even) {
  min-height: auto !important;
}