@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */

@font-face {
  font-family: 'Inter';
  src: url('../../static/font/inter/static/Inter-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Whyte';
  src: url('../../static/font/whyte/ABCWhyteInktrap-Regular.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

/* IFM Variables */

:root {
  --ifm-color-primary: #08082f;
  --ifm-color-primary-dark: #07072a;
  --ifm-color-primary-darker: #070728;
  --ifm-color-primary-darkest: #060621;
  --ifm-color-primary-light: #090934;
  --ifm-color-primary-lighter: #090936;
  --ifm-color-primary-lightest: #0a0a3d;
  --ifm-toc-border-color: rgba(255, 255, 255, 0);

  --ifm-code-font-size: 95%;
  --ifm-breadcrumb-separator-filter: invert(100%) sepia(94%) saturate(17%)
    hue-rotate(223deg) brightness(104%) contrast(98%);
  /* --ifm-breadcrumb-separator-filter: invert(64%) sepia(11%) saturate(0%) hue-rotate(149deg) brightness(99%) contrast(95%); */
  --ifm-menu-link-sublist-icon-filter: invert(100%) sepia(94%) saturate(17%)
    hue-rotate(223deg) brightness(104%) contrast(98%);
  --ifm-navbar-background-color: #08082f;
  --ifm-top-menu-color: rgba(0, 0, 0, 0.3);
  --ifm-toc-link-color: white;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-font-family-base: 'Inter';
  --ifm-heading-font-family: 'Whyte';

  --ifm-menu-color: rgba(255, 255, 255, 0.6);
  --ifm-menu-color-active: rgba(255, 255, 255, 1);
  --ifm-menu-color-background-active: rgba(0, 0, 0, 0.2);

  --ifm-link-color: rgba(255, 255, 255, 1);
  --ifm-blockquote-color: rgba(255, 255, 255, 0.9);

  --ifm-toc-link-color: white;
  /* --ifm-link-color: #B8AFFF; */
  --ifm-link-color: rgb(255, 255, 255);

  --ifm-code-background: rgba(255, 255, 255, 0.1);

  --ifm-table-border-color: rgba(217, 217, 217, 0.2);
  --ifm-table-cell-padding: 1.25rem;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: red;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

/* CSS Global Variables */

/* a {
  color: white;
} */

.table-of-contents__link code {
  all: unset;
}

.table-of-contents__link {
  color: rgba(255, 255, 255, 0.6);
}

.table-of-contents__link:hover,
.table-of-contents__link:hover code,
.table-of-contents__link--active,
.table-of-contents__link--active code {
  color: white;
  text-decoration: none;
}

#__docusaurus {
  position: relative;
}

a:hover {
  /* color: rgba(255, 255, 255, 1); */
  /* font-weight: bold; */
  /* text-decoration: underline; */
}

body {
  background-color: #08082f;
  color: #ffffff;
  font-family: 'Inter';
}

/* div.col.col--3.a code {
  all: unset;
} */

a code {
  color: #b8afff;
}

/* a code:hover {
  color: #B8AFFF
} */

/* a code {
  all: unset;
} */

/* a.table-of-contents__link.toc-highlight.table-of-contents__link--active code {
  color: white; 
  font-weight: bold;
}

a.table-of-contents__link.toc-highlight.table-of-contents__link--active code:hover {
  color: white; 
  font-weight: bold;
} */

a code:hover {
  color: white;
}

/* a code:hover {
  color: rgba(255, 255, 255, 1);
  font-weight: bold;
} */

/* a.table-of-contents__link.toc-highlight {
  color: rgba(255, 255, 255, 1);
  font-weight: bold;
} */

/* .table-of-contents__link.toc-highlight:hover {
  color: rgba(255, 255, 255, 1);
  font-weight: bold;
} */

/* code {
  background-color: rgba(255, 255, 255, 0.1);
} */

/* code:hover {
  color: white;
  font-weight: bold;
}

.toc-highlight:hover {
  color: white;
} */

/* a code:hover {
  color: rgba(255, 255, 255, 1);
} */

/* CSS Target Variables */

.breadcrumbs__item--active .breadcrumbs__link {
  color: rgba(255, 255, 255, 1);
  background: rgba(255, 255, 255, 0.05);
}

.breadcrumbs__link {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs__link:hover {
  color: rgba(255, 255, 255, 1);
}

.card {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}

.card:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.card.padding--lg {
  border: none;
  box-shadow: none;
  border-radius: 16px;
  color: rgba(255, 255, 255, 0.6);
}

.card.padding--lg:hover {
  border: none;
  box-shadow: none;
  border-radius: 16px;
  color: rgba(255, 255, 255, 1);
}

.footer {
  background-color: #08082f;
  border-top: 1px solid #fff;
  z-index: 1;
}

/* footer.footer {
  border-top: 0.5px solid; 
  background-color: none !important; 
} */

a.footer__link-item {
  color: white;
}

a.footer__link-item:hover {
  color: white;
  border: none;
}

button.button.button--secondary.button--outline {
  border: none !important;
}

.list {
  color: rgba(255, 255, 255, 0.4);
}

.menu {
  align-items: center;
  align-content: center;
  position: center;
}

/* .menu__link {
  color: rgba(255, 255, 255, 0.6);
 }

 .menu__link:hover {
  color: rgba(255, 255, 255, 1);
 } */

.navbar--fixed-top {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
}

/* .navbar-sidebar {
  background-color: #08082f !important;
  backdrop-filter: none !important;
} */

.navbar-sidebar--show {
  backdrop-filter: none !important;
}

.navbar__brand {
  color: rgba(255, 255, 255, 0.9);
}

.navbar__brand:hover {
  color: rgba(255, 255, 255, 1);
}

.navbar__link:hover {
  /* color: white; */
  font-weight: var(--ifm-font-weight-bold);
}

/* b.navbar__title.text--truncate:hover {
  font-weight: bold; 
} */

/* nav.navbar.navbar--fixed-top.navbar--primary {
  backdrop-filter: blur(10px);
} */

/* .navbar {
    backdrop-filter: blur(10px);
 } */

/* @media (max-width: 1000px) {
  nav.navbar.navbar--fixed-top {
    backdrop-filter: none;
  }
} */

/* .navbar--primary {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
}  */

/* 
.navbar--primary {
  background-color: #08082f;
  backdrop-filter: none;
} */

.pagination-nav__label {
  color: rgba(255, 255, 255, 0.6);
}

.pagination-nav__label:hover {
  color: rgba(255, 255, 255, 1);
}

.pagination-nav__link {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: none;
  border-radius: 16px;
}

.pagination-nav__link:hover {
  background-color: rgba(255, 255, 255, 0.15);
  transition: all var(--ifm-transition-fast) ease;
}

.pagination-nav__sublabel {
  color: rgba(255, 255, 255, 1);
  font-size: 10px;
  margin-bottom: 10px;
}

/* 
.table-of-contents__link {
  color: rgba(255, 255, 255, 0.6);
 }

 .table-of-contents__link:hover {
  color: rgba(255, 255, 255, 1);
 } */

.theme-doc-sidebar-container {
  color: rgb(255, 255, 255);
  border-right: 1px solid var(--ifm-toc-border-color) !important;
}

.theme-doc-sidebar-menu {
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10.5px);
  border-radius: 8px;
}

.theme-edit-this-page:hover {
  color: rgba(255, 255, 255, 1);
  font-weight: bold;
}

/* Code hike styles */

.ch-codeblock .ch-code-button {
  display: none;
}

.ch-codeblock:hover .ch-code-button {
  display: block;
}

.ch-scrollycoding-step-content {
  opacity: 0.4;
}

.ch-scrollycoding-step-content[data-selected] {
  opacity: 1;
  border: none;
}

/* span.ch-section-link:hover {
  all: unset;
} */

.ch-section-link,
.ch-section-link * {
  text-decoration-line: none;
  text-decoration-style: none;
  /* text-decoration-thickness: none;
  text-decoration-color: none;  */
}

/* tailwind preflight styles */

*,
::before,
::after {
  border-width: 0;
  border-style: solid;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

table {
  display: table;
  backdrop-filter: blur(30px);
  background-color: rgba(217, 217, 217, 0.05);
  /* border-radius: 16px; */
}

@keyframes dex2 {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes dex3 {
  0% {
    transform: translatey(-10px);
  }

  50% {
    transform: translatey(10px) rotate(-10deg);
  }

  100% {
    transform: translatey(-10px);
  }
}

.dex-3 {
  animation: dex3 20s infinite linear;
}

.dex-2 {
  animation: dex2 200s infinite linear;
}

@keyframes lp2 {
  0% {
    transform: translatey(-10px);
  }

  50% {
    transform: translatey(10px);
  }

  100% {
    transform: translatey(-10px);
  }
}

.lp-2 {
  animation: lp2 14s infinite linear;
}

.lp-3 {
  animation: lp2 6s infinite linear;
}
