.box {
  display: flex;
  min-height: 140px;
  height: 100%;

  background: rgba(255, 255, 255, 0.05);
  /* backgroundblur */

  backdrop-filter: blur(10.5px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 16px;
  padding: 12px;
  gap: 16px;
}

.box:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transition: all var(--ifm-transition-fast) ease;
}

.box:hover .title {
  color: rgba(255, 255, 255, 1);
  font-weight: bold;
}

.box:hover .subtext {
  color: rgba(255, 255, 255, 0.9);
  /* font-weight: bold; */
}

.box:hover ul.list li:before {
  border-right: 2px solid rgba(255, 255, 255, 0.9);
  border-bottom: 2px solid rgba(255, 255, 255, 0.9);
  /* font-weight: bold; */
}

.box:hover .fig {
  opacity: 1;
}

.links {
  color: rgba(255, 255, 255, 0.4);
  width: 420px !important;
}

.links a {
  width: 420px !important;
}

.box:hover .links {
  color: rgba(255, 255, 255, 0.9);
}

ul.list li:hover {
  text-decoration: underline;
  font-weight: bold;
}

/* remove later - just to test home screen */
.box:hover .list {
  color: rgba(255, 255, 255, 0.9);
}

/* .links:hover {
    color: rgba(255, 255, 255, 1); 
} */

.title {
  font-size: 16.875px;
  margin-bottom: 8px;
}

.fig {
  opacity: 0.4;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
}

.subtext {
  color: rgba(255, 255, 255, 0.4);
  font-size: 13.3333px;
  padding-right: 5%;
  margin-bottom: 20px;
}

.list {
  color: rgba(255, 255, 255, 0.4);
  font-size: 15px;
  padding-left: 32px;
}

ul.list li {
  position: relative;
  padding-bottom: 10px;
}

ul.list {
  list-style: none;
}

ul.list li:before {
  content: "";
  position: absolute;
  border-right: 2px solid rgba(255, 255, 255, 0.4);
  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
  width: 5px;
  height: 5px;
  top: calc(50% - 4px);
  left: -30px;
  transform: translateY(-50%) rotate(-45deg);
}

/* .box a {
  display: inline-block;
} */

/* .box a {
  text-decoration: none !important;
} */

@media only screen and (max-width: 500px) {
  .box {
    background-color: rgba(255, 255, 255, 0.07);
  }

  .box:hover {
    background-color: rgba(255, 255, 255, 0.07);
  }

  .title {
    color: rgba(255, 255, 255, 1);
  }

  .box .titleBanner {
    opacity: 1;
  }

  .subtext {
    color: rgba(255, 255, 255, 0.8);
  }

  .box:hover .subtext {
    color: rgba(255, 255, 255, 0.8);
    /* font-weight: bold; */
  }

  .links {
    color: rgba(255, 255, 255, 0.6);
  }

  .links:hover {
    color: rgba(255, 255, 255, 0.6);
  }

  .box:hover .links {
    color: rgba(255, 255, 255, 0.6);
  }

  ul.list li:before {
    border-right: 2px solid rgba(255, 255, 255, 0.6);
    border-bottom: 2px solid rgba(255, 255, 255, 0.6);
  }

  .box:hover ul.list li:before {
    border-right: 2px solid rgba(255, 255, 255, 0.6);
    border-bottom: 2px solid rgba(255, 255, 255, 0.6);
    /* font-weight: bold; */
  }

  ul.list li:hover {
    text-decoration: underline;
    font-weight: normal;
  }

  .box .fig {
    opacity: 1;
  }

  .box .title {
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
  }
}
